{#<!-- your_app/templates/admin/base_site.html -->#}
{#{% extends "admin/base_site.html" %}#}
{##}
{#{% block content %}#}
{#    {{ block.super }}#}
{#{% endblock %}#}
{##}
{#{% block extrastyle %}#}
{#    {{ block.super }}#}
{#    <style>#}
{#        /* Add any custom styles if needed */#}
{#    </style>#}
{#{% endblock %}#}
{##}
{#{% block scripts %}#}
{#    {{ block.super }}#}
{#    <script>#}
{#        setTimeout(function(){#}
{#            location.reload();#}
{#        }, 10000); // 10 seconds in milliseconds#}
{#    </script>#}
{#{% endblock %}#}
