{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-1">
        <div class="container px-2 px-lg-1 my-1">
            <div class="text-center text-white">
                {% if user.is_authenticated %}
                    <h1 class="display-4">Complaint Status</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Your complaints Below</p>
                    </div>
                    </div>
                    </header>
                    <div class="center-container">
                        <form id="sortingForm" method="get" action="{% url 'home' %}">
                            {% csrf_token %}

                            <div class="form-check form-switch form-check-inline">
                                <p><b>Sort By:</b></p>
                            </div>

                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input" type="radio" name="sort_by" value="Subject" id="flexSwitchCheckSubject" {% if sort_by == 'Subject' %}checked{% endif %}>
                                <label class="form-check-label" for="flexSwitchCheckSubject">Subject</label>
                            </div>

                            <span class="mx-1">|</span>

                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input" type="radio" name="sort_by" value="-created_at" id="flexSwitchCheckLatest" {% if sort_by == '-created_at' %}checked{% endif %}>
                                <label class="form-check-label" for="flexSwitchCheckLatest">Latest</label>
                            </div>

                            <span class="mx-1">|</span>

                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input" type="radio" name="sort_by" value="created_at" id="flexSwitchCheckOldest" {% if sort_by == 'created_at' %}checked{% endif %}>
                                <label class="form-check-label" for="flexSwitchCheckOldest">Oldest</label>
                            </div>

                            <input type="hidden" name="auto_sort" value="1">

                            <span class="mx-1">|</span>

                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input" type="radio" name="sort_by" value="-status" id="flexSwitchCheckStatus" {% if sort_by == '-status' %}checked{% endif %}>
                                <label class="form-check-label" for="flexSwitchCheckStatus">Status</label>
                            </div>

                            &nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-primary btn-sm" style="display: none"></button> <!-- Hidden submit button to trigger form submission -->
                        </form>
                    </div>



                    <div class="container">
                    <nav class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Type</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Staff Assigned</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        {% for all in all_complaints %}
                            <tbody>
                            <tr>
                                <th scope="row">{{ all.id}}</th>
                                <td>{{ all.Comp_Assign }}</td>
                                <td>{{ all.Subject|slice:":25" }}</td>
                                <td>{{ all.created_at }}</td>
                                <td>{{ all.assigned_employee }}</td>
                                <td>
                                    {% if all.status == 2 %}
                                        <span class="badge text-bg-warning">InProgress</span>
                                    {% elif all.status == 1 %}
                                        <span class="badge text-bg-success">Solved</span>
                                    {% elif all.status == 3 %}
                                        <span class="badge text-bg-danger">Pending</span>
                                    {% endif %}
                                </td>
                                <td>   <a href="{% url 'view_complaint' all.id %}">View</a></td>
                            </tr>

                            </tbody>
                        {% endfor %}
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if all_complaints.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="?page={{ all_complaints.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for i in all_complaints.paginator.page_range %}
                                <li class="page-item {% if all_complaints.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            {% if all_complaints.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ all_complaints.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ all_complaints.paginator.num_pages }}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                {% else %}
                    <h1>Access Denied</h1>
                {% endif %}
                </nav>
                </div>
    {#        <script>#}
    {#            document.addEventListener('DOMContentLoaded', function() {#}
    {#                // Check if the form was already submitted#}
    {#                if (!localStorage.getItem('sortingFormSubmitted')) {#}
    {#                    document.getElementById('sortingForm').submit();#}
    {#                    localStorage.setItem('sortingFormSubmitted', 'true');#}
    {#                }#}
    {#            });#}
    {#        </script>#}

    <script>
        document.querySelectorAll('input[name="sort_by"]').forEach(function (radio) {
            radio.addEventListener('change', function () {
                console.log("Sorting option changed");
                document.getElementById('sortingForm').submit();
            });
        });

         // Reload the page every 10 seconds
    setInterval(function() {
        location.reload();
    }, 10000);
    </script>
{% endblock %}