{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Searched Results</h1>
    <br/>
    <div class="container">
        {% if user.is_authenticated %}
            <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Type</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Staff Assigned</th>
                    <th scope="col">Status</th>

                </tr>
                </thead>
                {% for complaint in searched_complaints %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ complaint.id }}</th>
                        <td>{{ complaint.Comp_Assign }}</td>
                        <td>{{ complaint.Subject|slice:":25" }}</td>
                        <td>{{ complaint.created_at }}</td>
                        <td>{{ complaint.assigned_employee }}</td>
                        <td>
                            {% if complaint.status == 1 %}
                                <span class="badge text-bg-warning">InProgress</span>
                            {% elif complaint.status == 2 %}
                                <span class="badge text-bg-success">Solved</span>
                            {% elif complaint.status == 3 %}
                                <span class="badge text-bg-danger">Pending</span>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <h1>Access Denied</h1>
        {% endif %}
        </div>
    </div>
    <br/><br/>
{% endblock %}