{#{% for comment in comments %}#}
{#    <div class="comment">#}
{#        <strong>{{ comment.user.username }}:</strong> {{ comment.text }}#}
{#    </div>#}
{#{% empty %}#}
{#    <p>No comments available.</p>#}
{#{% endfor %}#}
{##}
{##}
{#<style>#}
{#    * {#}
{#    margin: 0;#}
{#    padding: 0;#}
{#    box-sizing: border-box;#}

{##}
{#html {#}
{#    font: normal 13px sans-serif;#}

{##}
{#.comment-section {#}
{#    list-style: none;#}
{#    max-width: 1000px;#}
{#    width: 100%;#}
{#    margin: 50px auto;#}
{#    padding: 10px;#}

{##}
{#.comment {#}
{#    display: flex;#}
{#    border-radius: 3px;#}
{#    margin-bottom: 45px;#}
{#    flex-wrap: wrap;#}

{##}
{#.comment.user-comment {#}
{#    color: #808080;#}

{##}
{#.comment.author-comment {#}
{#    color: #60686d;#}
{#    justify-content: flex-end;#}

{##}
{#/* User and time info */#}
{##}
{#.comment .info {#}
{#    width: 17%;#}

{##}
{#.comment.user-comment .info {#}
{#    text-align: right;#}
{##}
{#.comment.author-comment .info {#}
{#    order: 3;#}

{##}
{#.comment .info a {#}
{#    display: block;#}
{#    text-decoration: none;#}
{#    color: #656c71;#}
{#    font-weight: bold;#}
{#    text-overflow: ellipsis;#}
{#    overflow: hidden;#}
{#    white-space: nowrap;#}
{#    padding: 10px 0 3px 0;#}

{##}
{#.comment .info span {#}
{#    font-size: 11px;#}
{#    color: #9ca7af;#}

{##}
{#/* The comment text */#}
{#.comment p {#}
{#    line-height: 1.5;#}
{#    padding: 18px 22px;#}
{#    width: calc(50% - 60px); /* Adjusted width to accommodate the dialog box */#}
{#    position: relative;#}
{#    word-wrap: break-word;#}

{##}
{#.comment.user-comment p {#}
{#    background-color: #f3f3f3;#}

{##}
{#.comment.author-comment p {#}
{#    background-color: #e2f8ff;#}
{#    order: 1;#}

{##}
{#/* Avatar and dialog box adjustments */#}
{#.user-comment p:after,#}
{#.author-comment p:after {#}
{#    content: '';#}
{#    width: 15px;#}
{#    height: 15px;#}
{#    border-radius: 50%;#}
{#    background-color: #ffffff;#}
{#    border: 2px solid;#}
{#    top: 18px;#}

{##}
{#.user-comment p:after {#}
{#    border-color: #f3f3f3;#}
{#    left: -23px; /* Adjusted position for the dialog box */#}

{##}
{#.author-comment p:after {#}
{#    border-color: #e2f8ff;#}
{#    right: -23px; /* Adjusted position for the dialog box */#}

{##}
{#/* Comment form */#}
{#.write-new {#}
{#    margin: 80px auto 0;#}
{#    width: 50%;#}

{##}
{#.write-new textarea {#}
{#    color: #444;#}
{#    font: inherit;#}
{#    outline: 0;#}
{#    border-radius: 3px;#}
{#    border: 1px solid #cecece;#}
{#    background-color: #fefefe;#}
{#    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);#}
{#    overflow: auto;#}
{#    width: 100%;#}
{#    min-height: 80px;#}
{#    padding: 15px 20px;#}

{##}
{#.write-new button {#}
{#    float: right;#}
{#    background-color: #87bae1;#}
{#    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);#}
{#    border-radius: 2px;#}
{#    border: 0;#}
{#    color: #ffffff;#}
{#    font-weight: bold;#}
{#    cursor: pointer;#}
{#    padding: 10px 25px;#}
{#    margin-top: 18px;#}

{##}
{#/* Responsive styles */#}
{#@media (max-width: 800px) {#}
{#    .comment p {#}
{#        width: 100%;#}
{#    }#}
{##}
{#    .comment.user-comment .info {#}
{#        order: 3;#}
{#        text-align: left;#}
{#    }#}
{##}
{#    .comment.author-comment {#}
{#        justify-content: flex-start;#}
{#    }#}
{##}
{#    .comment-section {#}
{#        margin-top: 10px;#}
{#    }#}
{##}
{#    .comment .info {#}
{#        width: auto;#}
{#    }#}
{##}
{#    .comment .info a {#}
{#        padding-top: 15px;#}
{#    }#}
{##}
{#    .user-comment p:after,#}
{#    .author-comment p:after {#}
{#        width: 12px;#}
{#        height: 12px;#}
{#        top: initial;#}
{#        left: 28px;#}
{#        bottom: -6px;#}
{#    }#}
{##}
{#    .user-comment p:after {#}
{#        border-color: #f3f3f3;#}
{#    }#}
{##}
{#    .author-comment p:after {#}
{#        border-color: #e2f8ff;#}
{#    }#}
{##}
{#    .write-new {#}
{#        width: 100%;#}
{#    }#}


{#<ul class="comment-section">#}
{##}
{#    <li class="comment user-comment">#}
{#        <div class="info">#}
{#            <a href="#">Anie Silverston</a>#}
{#            <span>4 hours ago</span>#}
{#        </div>#}
{#        <p>Suspendisse gravida sem?</p>#}
{#    </li>#}
{##}
{#    <li class="comment author-comment">#}
{#        <div class="info">#}
{#            <a href="#">Jack Smith</a>#}
{#            <span>3 hours ago</span>#}
{#        </div>#}
{#        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida sem sit amet molestie portitor.</p>#}
{#    </li>#}
{##}
{#    <!-- More comments -->#}
{##}
{#    <li class="write-new">#}
{#        <form action="#" method="post">#}
{#            <textarea placeholder="Write your comment here" name="comment"></textarea>#}
{#            <button type="submit">Submit</button>#}
{#        </form>#}
{#    </li>#}
{##}
{#</ul>#}